WIQPM2_1004/WIQPM2_orarend.dtd

<!ELEMENT WIQPM2_orarend (ora+)>
<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora
  id CDATA #REQUIRED
  tipus CDATA #REQUIRED>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (kezdet, veg, nap)>
<!ELEMENT kezdet (#PCDATA)>
<!ELEMENT veg (#PCDATA)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>